.menu {
  width: 217px;
  min-height: 204px;
  background-color: white;
  right: 30px;
  top: 90px;
  position: absolute;
  border: 1px solid gray;
  box-shadow: 1px 1px;
  border-radius: 3px;
}

.external-link {
  right: 25px;
  position: absolute;
  color: gray;
}

.monkeys-menu-container {
  list-style: none;
}
