.management-container{
    width: 75%;
    margin: auto;
    padding-top: 3em;
    padding-bottom: 3em;
}

.management-header{
    width: 100%;    
    margin-bottom: 15px;
    display: inline-flex;
}

.title-section{
    height: 32px;
    font-family: Rubik;
    font-size: 28px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #15225a;
}

.management-actions{
    margin-left: auto;
    padding-top: 10px;
}

.create-team{
    color: #15225a;
    padding: 10px;
}

.invite-section{
    margin-left: 2px;
    padding: 6px;
    color: white;
    background-color: #0273ff;
    border-radius: 6px;    
}

.management-section{
    border: solid 1.5px #D3D3D3;  
    border-radius: 1em;
    width: 100%;        
}

.m-headerSection{
    width: 100%;
    display: inline-flex;        
    padding-top: 20px;
    padding-bottom: 20px;    
    border-bottom: solid 1.5px #D3D3D3;  
}

.check-section{
    margin-left: 15px;    
}

.select-all{
    padding-left: 1em;
}

.description-titles{
    display: inline-flex;
    position: absolute;
    right: 13%;
    color: #15225a;
}

.type-title{
    font-size: medium;
    font-weight: 500;    
}

.role-title{
    font-size: medium;
    font-weight: 500;    
}


.filter-section{
    width: 95%;
    margin: auto;     
    height: 60px;
    padding-top: 6px;
}

.filterControl{
    font-weight: 100;     
    width: 100%;
    margin-top: 8px;         
    padding: 5px 12px;    
    font-size: 14px;
    line-height: 20px;
    border-radius: 6px;   
  	border: solid 1.5px #D3D3D3;
    transition: .3s;
}

.inputWithIcon .filterControl{
    padding-left: 40px;
}

.inputWithIcon{
    position: relative;
}

.inputWithIcon i{
    position: absolute;
    left: 6px;
    top: 13px;
    padding: 9px 8px;
    color: #aaa;    
}

.filterControl:focus{    
    box-shadow: 0 0 2pt 2pt rgb(31, 118, 189);
  	outline-width: 0px;
}

.user-section{
    border-top: solid 1.5px #D3D3D3; 
    display: flex;
}

.user-information{    
    display: block;        
}

.user-container{
    margin-left: 1em;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: inline-flex;
    height: 60px;
    padding-top: 10px;
}

.toggle{
    width: 38px;
    height: 38px;    
    margin-left: 1em;
}

.img-radius{
    border-radius: 50%;
}

.toggle:hover{
    cursor: pointer;    
    transition: 0s;
}

.userCheck{
    margin-top: 1em;
}

.userDetails{
    font-family: 'Times New Roman', Times, serif;
    font-size: small;   
    margin-left: 45px;
    padding-top: 14px;
}

.user-name{
    color: #15225a;
    font-size: 14px !important;
    font-weight: 600;
}

.userName{
    color: #56585a;
    font-size: 12px !important;
    padding-top: 2px;
}

.userActions{    
    position: absolute;
    right: 13%;
    padding-top: 18px;
}

.roles-list {
    border-radius: 6px;
    padding: 2px 8px;
    border: solid 1.5px #D3D3D3; 
    color: #15225a;
}

.trash-icon{
    margin-left: 1em;
}