@import "../../sass/main.scss";

.monkeys-input {
  border-radius: 5px;
  border: solid 1px $gray-light;
  background-color: $midnight-gray;
  outline: none;
  &:focus,
  &:active,
  &:hover {
    border: solid 1px $secondary-blue;
    color: $secondary-blue;
  }
}
