@import '../../sass/main.scss';

.breadcrumb-button {
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.breadcrumb-bg {
  position: absolute;
  height: 100%;
  width: 100%;

  &:hover {
    background: $special-blue;
    opacity: 0.5;
  }
  &:focus {
    background: $special-blue;
    opacity: 0.5;
  }
}

.breadcrumb-text {
  padding: 10px;

  &:hover {
    color: $secondary-blue;
  }
  &:focus {
    color: $secondary-blue;
  }
}

.breadcrumb-text-firts {
  padding-left: 0;
}

.monkeys-list-item {
  padding: 10px;
  &.active {
    background: $secondary-light;
    font-weight: bolder;
  }
}

.monkeys-card {
  width: 300px;
  display: flex;
  flex-direction: column;
  .monkeys-card-header {
    padding: 10px;
    border: 0.5px solid $gray;
  }
  .monkeys-card-body {
    list-style: none;
    height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
    border: 0.5px solid $gray;
  }
}

.monkeys-info-icon {
  color: $secondary-blue;
  font-size: 21px;
}
