@import '../../sass/main.scss';

.user-detail-page {
  display: flex;
  width: 100%;
  justify-content: center;
  &__container {
    max-width: 800px;
    width: 100%;
  }

  &__header {
    h3 {
      font-size: 18px;
      margin-bottom: 10px;
    }
    p {
      font-size: 14px;
    }
    a {
      font-size: 14px;
      color: #0052cc;
    }
  }
  &__avatar-container {
    margin: 15px 0;
    &__img-container {
      margin: 10px 0;
      height: 150px;
      border-radius: 5px;
      border-bottom: 1px solid #d4d9df;
      display: flex;
      align-items: center;
      padding: 0 25px;
      background: linear-gradient($Brandeisblue-color 50%, #fff 50%);
    }
  }

  &__avatar {
    img {
      width: 90px;
      height: 90px;
      border-radius: 50%;
    }
  }
  &__content {
    margin: 25px 0;
    button {
      margin: 0 10px;
      padding: 8px 30px;
      border-radius: 5px;
      border: none;
      background: $Brandeisblue-color;
      color: white;
      outline-width: 0;
    }
  }
  .change-password {
    padding: 8px 10px;
    border: 1px solid #adafb1;
    border-radius: 3px;
    background: #d6d6d7;
    color: #7a869a;
    outline-width: 0;
  }
}
