.icons{
    color:white;
    display: inline-block;
    background: rgb(38, 132, 255) none repeat scroll 0% 0%;
    height: 24px;
    width: 24px;
    border-radius: 3px;
    padding: 3px;
    box-sizing: border-box;
    text-align: center;
}
 .link {
    margin-left:6px;
    text-decoration: none;
}
.menuConfig {
    width: 600px;
    max-width: 600px;
    height: 600px;
    top:90px;
    position: absolute;
    background-color: white;
    border:1px solid gray;
    border-radius: 3px;
    right:77px;
    overflow: scroll;
    .description {
        margin-left: 20px;
    }
    div {
        margin-left: 20px;
    }
    h1 {
        font-size: 20px;
        margin-left: 20px;
    }
    h3 {
        font-size: 18px;
        margin-left: 20px;
    }
    .external-link{
        height: 16px;
        width: 16px;
        color: currentcolor;
        display: inline-block;
        fill: rgb(255, 255, 255);
        flex-shrink: 0;
        line-height: 1;
    }
    .boxes{
        display: flex;
        min-height: 24px;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
    }
    .icon-contenedor{
        display: flex;
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        margin-right: 12px;
    }
    .base{
        display: inline-block;
        background: rgb(38, 132, 255) none repeat scroll 0% 0%;
        height: 24px;
        width: 24px;
        border-radius: 3px;
        padding: 3px;
        box-sizing: border-box;
        text-align: center;
    }
    .icon {
        height: 16px;
        width: 16px;
        color: rgb(255, 255, 255);
        display: inline-block;
        fill: rgb(255, 255, 255);
        flex-shrink: 0;
        line-height: 1;
    }
    .contenedor {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        text-align: left;
        overflow: hidden;
        outline: none;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        line-height: 1.2;
    }
    .titles {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .descriptions{
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #6B778C;
        margin-top: 3px;
        font-size: 12px;
    }
    .link-content{
        display: flex;
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        margin-left: 12px;
    }
}



