@import '../../sass/main.scss';

.project-column {
  width: 267px;
  margin-right: 25px;
  @include lg {
    margin-right: 10px;
    margin-bottom: 15px;
  }
  @include sm {
    margin-right: 0;
  }
  .badge-counter {
    width: 32px;
    height: 20px;
    padding: 2px 5px;
    border-radius: 12px;
    background: #e5e5ef;
  }
}

.project-column-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include sm {
    background: #e0e0e0;
    border-radius: 5px;
    .title {
      padding-left: 15px;
      text-align: center;
    }
  }
}

.project-tasks .title {
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.13px;
  color: $secondary-gray;
  text-transform: uppercase;
  span {
    margin-left: 20px;
    padding: 0 5px;
  }
}

.project-tasks-container {
  margin-top: 15px;
  div + div {
    margin-top: 8px;
  }
  @include sm {
    display: none;
  }
}
